{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mai Adventure</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/styles.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'home/images/logo.png' %}" alt="Logo" class="logo-image">
            MAI.ADVENTURE</div>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="#">DESTINOS</a></li>
                <li><a href="#">MAPAS INTERACTIVOS</a></li>
                <li><a href="#">GUÍAS</a></li>
                <li><a href="#">DESCUENTOS</a></li>
            </ul>
            <div class="menu-icon" onclick="toggleMenu()">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </nav>
        <div class="actions">
            <input type="text" placeholder="Search">
            <button class="login">LOG IN</button>
            <img src="{% static 'home/images/instagram.png' %}" alt="Instagram" class="instagram-icon">
        </div>     
    </header>

    <main>
        <section class="hero" style="background-image: url('{% static "home/images/mapa.png" %}');">
            <div class="text-content">
                <h1>DISCOVER AUTHENTIC AND <br>
                    <span>UNIQUE</span><br> 
                    EXPERIENCES</h1>
                <p>
                    Recorré el mundo buscando esos rincones que pocos conocen. Experiencias auténticas, paisajes que te dejan sin palabras y momentos que valen más que cualquier souvenir.Acá priorizarmos lo real, lo diferente y lo que te hace sentir parte del lugar, no solo un turista más 
                </p>
                <button class="cta">JOIN THE ADVENTURE</button>
            </div>
            <img src="{% static 'home/images/avioncito.png' %}" alt="Ícone de avião" class="icon-aviao">
            <div class="images">
                <img src="{% static 'home/images/imagen1home.png' %}"  alt="Paisaje 1">
                <img src="{% static 'home/images/imagen2home.png' %}"  alt="Paisaje 2">
                <img src="{% static 'home/images/imagen3home.png' %}"  alt="Paisaje 3">  
            </div>
            <img src="{% static 'home/images/avioncito2.png' %}"  alt="icon-aviao2" class="icon-aviao2">
            <img src="{% static 'home/images/sello.png' %}"  alt="sello" class="sello">
            <img src="{% static 'home/images/sello2.png' %}"  alt="sello2" class="sello2"> 
        </section>
    </main>
        <section class="section2" >
            <div class="destino">
                <h1>DESTINOS <br>
                    <nav>
                        <ul>
                            <li><a href="#">AMERICA</a></li>
                            <li><a href="#">EUROPA</a></li>
                            <li><a href="#">ASIA</a></li>
                            <li><a href="#">AFRICA</a></li>
                        </ul>
                    </nav>                 
            </div>
        </section>
    <div class="carousel">
        <button class="left"></button>
        <div class="images">
            <div class="image-container">
                <img src="{% static 'home/images/Destinos/Argentina.jpg' %}" alt="Skyline of New York City"/>
            </div>
            <div class="image-container">
                <img src="{% static 'home/images/Destinos/Brasil.jpg' %}" alt="Tower Bridge in London"/>
            </div>
            <div class="image-container">
                <img src="{% static 'home/images/Destinos/Belgica.png' %}" alt="Traditional Japanese temple"/>
            </div>
            <div class="image-container">
                <img src="{% static 'home/images/Destinos/Espana.jpeg' %}" alt="Scenic view of Iceland"/>
            </div>
            <div class="image-container">
                <img src="{% static 'home/images/Destinos/Emiratosarabes.jpg' %}" alt="Desert landscape of the West Coast"/>
            </div>
            <div class="image-container">
                <img src="{% static 'home/images/Destinos/Estadosunidos.jpg' %}" alt="Desert landscape of the West Coast"/>
            </div>
            <div class="image-container">
                <img src="{% static 'home/images/Destinos/Francia.jpg' %}" alt="Desert landscape of the West Coast"/>
            </div>
            <div class="image-container">
                <img src="{% static 'home/images/Destinos/Hungria.jpeg' %}" alt="Desert landscape of the West Coast"/>
            </div>
            <div class="image-container">
                <img src="{% static 'home/images/Destinos/Suiza.jpg' %}" alt="Desert landscape of the West Coast"/>
            </div>
        </div>
        <button class="right"></button>
    </div>
    <div class="explore-button">
        <button>EXPLORÁ</button>
    </div>
    <script src="{% static 'home/script.js' %}"></script>
</body>
</html>